NameVirtualHost *:80
NameVirtualHost *:443

#<VirtualHost *:80>
#    ServerName website02.jifflenow.com
#    RedirectMatch 301 /(.*)$ https://website02.jifflenow.com/
#</VirtualHost>

#<VirtualHost *:80>
#    ServerName website02.jifflenow.net
#    RedirectMatch 301 /(.*)$ https://website02.jifflenow.net/
#</VirtualHost>

#<VirtualHost *:80>
#    ServerName website-uat.jifflenow.com
#    RedirectMatch 301 /(.*)$ https://website-uat.jifflenow.com/
#</VirtualHost>
